
.layui-form-radio>i:hover, .layui-form-radioed>i{
    color:#01AAED;
}

.layui-form-select dl dd.layui-this{
    background-color:#01AAED;
}

.layui-btn-primary:hover{
    border:1px solid #01AAED;
    cursor:default;
}